*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
	width: 100%;
	padding: 20px;
	margin:0 auto;
	text-align:center;
}

.nav-list{
	text-align:center;
	padding:15px;
	margin: 0px;
	list-style: none;
	border-top: solid black;
	border-top-width: 1px;
	border-bottom: solid black;
	border-bottom-width :1px;
}

.list{
	display: inline-block;
	margin:20px;
}

.box{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background-color: red;
}

.box1{
	width: 800px;
	height: 200px;
	margin: 0px;
	background-color: black;
}

.box1-1{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #e6ffe9;
	float: left;
}
.box1-2{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #cbffb3;
	float: left;
}
.box1-3{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #aeffbd;
	float: left;
}
.box1-4{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #93ffab;
	float: left;
}

.box2{
	width: 800px;
	height: 200px;
	margin: 0px;
	background-color: black;
}

.box2-1{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #f3ffd8;
	float: left;
}
.box2-2{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #edffbe;
	float: left;
}
.box2-3{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #e9ffa5;
	float: left;
}
.box2-4{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #e4ff8d;
	float: left;
}

.box3{
	width: 800px;
	height: 200px;
	margin: 0px;
	background-color: black;
}

.box3-1{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #d9e5ff;
	float: left;
}
.box3-2{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #bad3ff;
	float: left;
}
.box3-3{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #a4c6ff;
	float: left;
}
.box3-4{
	width: 200px;
	height: 200px;
	margin: 0px;
	background-color: #8eb8ff;
	float: left;
}

footer{
	width: 100%;
	height: 120px;
	background-color: #848282;
}

.fooder-text{
	text-align: center;
	line-height: 120px;
	color: #fff
}