.box1{
	width: 300px;
	height: 300px;
	background-color: #e0ffff;
	padding: 30px;
}

.box2{
	width: 100px;
	height: 100px;
	background-color: blue;
	/*指定方法(boc2の周囲を全てに枠線を設定する場合)*/
	border:5px solid yellow;
}